<h1>New Project</h1>

<%= form_for @project do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :project_due_date %>
  <%= f.date_select(:project_due_date, :start_year => 1990) %>
  <br>
  <%= f.label :instructions %>
  <%= f.text_area :instructions %>
  <br>
  <%=f.submit %>
<% end %>