<h1>Edit Patient Info</h2>

	<%= form_for @patient do |f| %>
		<%= f.label :firstname %>
		<%= f.label :lastname %>
		<%= f.label :dob %>
		<%= f.label :ailment %>
		<%= f.label :gender %>
		<%= f.text_field :firstname %>
		<%= f.text_field :lastname %>
		<%= f.date_select :dob %>
		<%= f.text_field :ailment %>
		<%= radio_button_tag :male, :female %>
		<br>
		<%= f.submit %>
		
	<% end %>