%h1 New Patient
= form_for @patient do |f|
  = f.label :firstname
  = f.text_field :firstname
  %br/
  = f.label :lastname
  = f.text_field :lastname
  %br/
  = f.label :dob
  = f.date_select(:dob, :start_year => 1900)
  %br/
  = f.label :ailment
  = f.text_field :ailment
  %br/
  = f.label "male"
  = f.radio_button :gender, "male"
  = f.label"female"
  = f.radio_button :gender, "female"
  %br/
  =f.label :status
  %br/
  = f.submit
