%h1 Patient
= link_to "New Patient", new_hospital_patient_path
%br/

-@patients.each do |patient|
  = link_to "#{patient.first_name}  #{patient.last_name}", hospital_patients_path(@hospital, patient)
  = patient.dob
  = patient.ailment
  = patient.gender

  = link_to "Edit", edit_hospital_patient_path(:hospital_id, patient)
  = link_to "Delete", hospital_patient_path(:hospital_id, patient), method: :delete
  -#= link_to "Add Medication", new_hospital_patient_medication
  %br/
  
=link_to "Back ", hospital_patients_path