%h1 Show Patient Information
= @patient.first_name
= @patient.last_name
= @patient.dob
= @patient.ailment
= @patient.gender

%p Hospital
  -if @patient.hospital
    = link_to @hospital.try(:name), hospital_path(@hospital)

= link_to "Back", hospital_patients_path(@hospital)
