<h1>Show Patient Information</h1>

<%= @patient.first_name %>
<%= @patient.last_name %>
<%= @patient.dob %>
<%= @patient.ailment %>
<%= @patient.gender %>




<%= link_to "Back", hospital_path(@hospital) %>