<h1>The Iron Yard Homework Tracker</h1>

<%= link_to "New Location", new_location_path %>
<br>
<% @locations.each do |location| %>
  <%= link_to location.name, location_path(location) %>
  <%= link_to "Edit", edit_location_path(location) %>
  <%= link_to "Delete", location_path(location), method: :delete %>
  <br>
<% end %>
<br>
<br>
<%= link_to "Add New Course", new_course_path %>
<br>
<% @courses.each do |course| %>
  <%= link_to course.name, course_path(course) %>
  <%= link_to "Edit", edit_course_path(course) %>
  <%= link_to "Delete", course_path(course), method: :delete %>
  <br>
<% end %>
<br>
<br>
<%= link_to "Add New Project", new_project_path %>
<br>
<% @projects.each do |project| %>
  <%= project.name %>
  <br>
<% end %>