= link_to "Back", root_path
= form_for @patient do |f|
  - if  f.object.errors.messages.length > 0
    - f.object.errors.messages.inspect
    %br/
    - f.object.errors.messages.each do |key, value|
      - value.each do |message|
        = key.capitalize
        = message
        %br/
      %br/
  = f.label :firstName
  = f.text_field :firstName
  %br/
  = f.label :lastName
  = f.text_field :lastName
  %br/
  = f.label :dob
  = f.date_select(:dob, :start_year => 1910)
  %br/
  = f.label :ailment
  = f.text_field :ailment
  %br/
  = f.label "male"
  = f.radio_button :gender, "male"
  = f.label"female"
  = f.radio_button :gender, "female"
  %br/
  = f.label "waiting"
  = f.radio_button(:workflow_state, :waitroom) 
  = f.label "checkup"
  = f.radio_button(:workflow_state, :checkup_complete)
  = f.label "x_ray_now"
  = f.radio_button(:workflow_state, :x_ray_now)
  = f.label "surgery_now"
  = f.radio_button(:workflow_state, :surgery_now)
  = f.label "paying_bill"
  = f.radio_button(:workflow_state, :pay)
  = f.label "discharge"
  = f.radio_button(:workflow_state, :discharge)
  %br/
  = f.submit
