<h1>Show Patient</h1>


<%= @patient.firstName %>
<%= @patient.lastName %>
<%= @patient.dob %>
<%= @patient.ailment %>
<%= @patient.gender %>
<%= @patient.workflow_state %>

<%= link_to "Home", root_path %>