%h3 Hospital Information
%br
= @hospital.name
= link_to "Hospital", hospitals_path
%br
= link_to "Create Patient Data", new_hospital_patient_path(@hospital)

%ul
  - @hospital.patients.each do |patient|
    %li
      = link_to "#{patient.first_name}  #{patient.last_name}", hospital_patient_path(@hospital, patient)
      |
      = link_to "Edit Patient", edit_hospital_patient_path(@hospital, patient)
      |
      = link_to "Delete Patient", hospital_patient_path(@hospital, patient), method: :delete
      |
-#      = link_to "Add Medication", new_hospital_patient_medication_path(@hospital, @patient, medication)


-#%ul
-#  - @patient.medications.each do |patient|
-#    %li
-#      = link_to medication.name  , hospital_patient_medication_path(@hospital, @patient, medication)
-#      |
-#      = link_to "Edit Medication", edit_hospital_patient_medication_path(@hospital, @patient, medication)
-#      |
-#      = link_to "Delete Patient", hospital_patient_path(@hospital, patient), method: :delete
-#      |
-#      = link_to "Add Medication", new_hospital_patient_medication_path(@hospital, patient)


= link_to "Back to Index", hospitals_path(@hospital)