%h1 hospital patients
= link_to "New Patient", new_patient_path
%br/
- @patients.each do |patient|
  = patient.firstname
  = patient.lastname
  = patient.dob
  = patient.ailment
  = link_to patient.firstname, patient_path(patient)
  = link_to "Edit", edit_patient_path(patient)
  = link_to "Delete", patient_path(patient), method: :delete
  %br/
